<a class="tt-tile" id="tile" href="#">
    <div class="tt-top">
        <span class="dot" id="dot"></span>
        <span class="tt-name" id="name"></span>
        <span class="tt-actions">
            <span class="tt-artifacts" id="artifacts"></span>
            <button class="btn-ghost tt-launch" id="launch-btn" title="Launch">&#9654;</button>
            <button class="btn-ghost tt-edit" id="edit-btn" title="Configure">&#9881;</button>
            <button class="btn-ghost tt-edit tt-delete" id="delete-btn" title="Remove">&#x2715;</button>
        </span>
    </div>
    <div class="tt-meta">
        <span class="tt-repo" id="repo"></span>
        <span class="tt-branch" id="branch"></span>
    </div>
    <div class="tt-resources" id="resources"></div>
</a>
